
.home-container {
    max-width: 800px;
    height: 60vh;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .home-container h2 {
    color: #333;
  }
  
  .home-container input,
  .home-container textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none; 
    outline: none;
  }
  
  .home-container p {
    color: #555;
  }
  